@using ServiceConracts
@model CityWeather;
@inject IWeatherService service;
<h1>
	@Model.CityName
</h1>
<h2>
	@Model.DateAndTime
</h2>
<h3>
	@Model.TemperatureFahrenheit
</h3>
<h3>
	@service.SayHello();
</h3>
<a href="~/">Go back</a>
